name: Caller Workflow

on:
  workflow_dispatch:

jobs:
  call-reusable:
    environment: dev
    uses: ./.github/workflows/wf.yml
    with:
      person_name: ${{ vars.TEST_NAME}}
      environment: "dev"
