name: Caller Workflow
on: workflow_dispatch

jobs:
  # This job is associated with the "dev" environment
  prepare-and-call:
    runs-on: ubuntu-latest
    environment: dev # This gives the job access to the "dev" environment's secrets/variables
    steps:
      - name: Pass variable to reusable workflow
        # This step runs in the 'dev' context, so $TEST_NAME is available
        run: |
          echo "The value from 'dev' environment is: $TEST_NAME"
      
      - name: Call reusable workflow
        # You must pass the value as an explicit input
        uses: ./.github/workflows/wf2.yml
        with:
          person_name: ${{ env.TEST_NAME }} # Use env., not vars.
          environment: "dev"